// Primary Colors
$color-primary-500: #004e4d;
$color-primary-400: #00807e;
$color-primary-300: #64c3bf;

// Neutal Colors
$color-neutral-600: #757575;
$color-neutral-500: #9e9e9e;
$color-neutral-400: #bdbdbd;
$color-neutral-300: #e0e0e0;
$color-neutral-200: #eeeeee;
$color-neutral-100: #f7f7f7;
$color-neutral-0: #ffffff;

// Background Colors
$color-bg-light: #fafafa;