$font-family: "Noto Sans TC", sans-serif;

:root{
    --h1: 2.5rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.25rem;
    --h6: 1rem;

    --para-lg: 1.25rem;
    --para-md: 1rem;
    --para-sm: 0.875rem;
    --para-xs: 0.75rem;

    --label-xl: 2rem;
    --label-lg: 1.5rem;
    --label-md: 1.25rem;
    --label-sm: 1rem;
}

// Heading
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.2;
}

.h1 {
    font-size: var(--h1);
}
.h2 {
    font-size: var(--h2);
}
.h3 {
    font-size: var(--h3);
}
.h4 {
    font-size: var(--h4);
}
.h5 {
    font-size: var(--h5);
}
.h6 {
    font-size: var(--h6);
}

// Paragraph
p, .para-lg, .para-md, .para-sm, .para-xs {
    font-weight: 400;
    line-height: 1.5;
}

.para-lg {
    font-size: var(--para-lg);
}
.para-md {
    font-size: var(--para-md);
}
.para-sm {
    font-size: var(--para-sm);
}
.para-xs {
    font-size: var(--para-xs);
}

// Label
.label-xl, .label-lg, .label-md, .label-sm {
    font-weight: 500;
    line-height: 1.5;
}

.label-xl {
    font-size: var(--label-xl);
}
.label-lg {
    font-size: var(--label-lg);
}
.label-md {
    font-size: var(--label-md);
}
.label-sm {
    font-size: var(--label-sm);
}