// vendors
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

// abstracts

// base
@import './base/reset.scss';
@import './base/colors.scss';
@import './base/typography.scss';
@import './base/spacing.scss';
@import './base/base.scss';

// layout

// components
@import './components/button.scss';
@import './components/card.scss';
@import './components/input.scss';

// pages
@import './pages/index.scss';

// themes