.button-primary{
    font-size: var(--para-lg);
    line-height: 1.5;
    color: $color-neutral-0;
    background-color: $color-primary-400;
    border: none;
    border-radius: .25rem;
    padding: $spacing-2 $spacing-5;
    &:hover{
        background-color: $color-primary-500;
    }
}