.mainIndex{
  .newPackage{
    padding: 120px 0;
    .mainCard{
      max-width: 1076px;
      display: flex;
      gap: $spacing-6;
      background-color: $color-neutral-0;
      border-radius: 1.5rem;
      padding: 65px 110px;
      margin: 0 auto;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
      .imgBox{
        width: calc((100% - $spacing-6) / 2);
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        .img{
          width: 100%;
        }
      }
      .inputsBox{
        width: calc((100% - $spacing-6) / 2);
        display: flex;
        flex-direction: column;
        gap: $spacing-6;
      }
      .inputBox{
        display: flex;
        flex-direction: column;
        gap: $spacing-7;
        .button-primary{
          align-self: flex-end;
        }
      }
      .inputTitle{
        display: flex;
        flex-direction: column;
        gap: $spacing-1;
        .title{
          display: flex;
          align-items: center;
          gap: $spacing-1;
        }
        .line{
          width: 100%;
          height: 3px;
          background-color: $color-primary-400;
        }
      }
      .inputGroup{
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
      }
    }
  }
  .relatedActivities{
    padding: 93px 0;
    .container{
      display: flex;
      flex-direction: column;
      gap: $spacing-6;
      .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        #chart{
          min-height: 192px;
        }
      }
      .cards-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-6;
        .cards{
          width: calc((100% - $spacing-6 * 2) / 3);
          padding-top: $spacing-3;
        }
      }
    }
  }
}